<div class="container">
  <a href="#">
    <div class="card">
      <img src="https://images.unsplash.com/photo-1550745165-9bc0b252726f?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1170&q=80" alt="Thumbnail" class="thumbnail">
      <div class="content">
        <p class="date">{{date}}</p>
        <h3 class="title">{{name}} <br>Seats:  {{seats.join(',  ')}}</h3> 
      </div>
    </div>
  </a>
  <div class="other">
    <span><label for="toggle-dark-mode">Please take a Screenshot</label></span>
  </div>
  
</div>