

<div class='box'>
    <div class='box-form'>
      <div class='box-login-tab'></div>
      <div class='box-login-title'>
        <div class='i i-login'></div><h2>Booking Details</h2>
      </div>
      <div class='box-login'>
        <div class='fieldset-body' id='login_form'>
          <button onclick="openLoginInfo();" class='b b-form i i-more' title='Mais Informações'></button>
          <p class='field'>
            <label for='user'>Name</label>
            <input type='text' id='user' name='user' title='Username' />
            <span id='valida' class='i i-warning'></span>
          </p>
          <p class='field'>
            <label for='armyno'>Army Number</label>
            <input type='text' id='armyno' name='armyno' title='Password' />
            <span id='valida' class='i i-close'></span>
          </p>
  
          <p class='field'>
            <label for='phno'>Phone Number</label>
            <input type='text' id='phno' name='phno' title='Password' />
            <span id='valida' class='i i-close'></span>
          </p>
          <p class='field_seat'>
            <label for='seats'> Seats</label>
            <input class="seat_numbers" type='number' id='seats' name='seats' title='Password' max = "5" min = "1"  value = "1" />
           
          </p>
          <p class='field'>
            <div>
              <mat-form-field >
                  <input matInput
                     [matDatepicker]="picker"
                     [matDatepickerFilter]="dateFilter"
                     placeholder="Choose a date"
                     [max]="maxDate"
                     [min]="minDate">
                  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                  <mat-datepicker #picker></mat-datepicker>
              </mat-form-field>
          </div>
         
  
            <input type='submit' id='do_login' value='Book Seats' title='Get Started' />
        </div>
      </div>
    </div>
    <div class='box-info'>
                <button onclick="closeLoginInfo();" class='b b-info i i-left' title='Back to Sign In'></button><h3>Need Help?</h3>
                <div class='line-wh'></div>
                <button onclick="" class='b-support' title='Forgot Password?'> Forgot Password?</button>
      <button onclick="" class='b-support' title='Contact Support'> Contact Support</button>
                <div class='line-wh'></div>
      <button onclick="" class='b-cta' title='Sign up now!'> CREATE ACCOUNT</button>
            </div>
  </div>
  
  