<mat-toolbar color="primary">
    
  <span>Usman Auditorium Booking</span> 
  
</mat-toolbar>

<div class='box'>
    <div class='box-form'>
      <div class='box-login-tab'></div>
      <div class='box-login-title'>
        <div class='i i-login'></div><h2>Booking Details</h2>
      </div>
      <div class='box-login'>
        <div class='fieldset-body' id='login_form'>
          <button class='b b-form i i-more' title='Mais Informações'></button>
          <p class='field'>
            <label for='user'>Name</label>
            <input type='text' [formControl]="name" id='user' name='user' title='Username' />
            <span id='valida' class='i i-warning'></span>
          </p>
          <p class='field'>
            <label for='armyno'>Army Number</label>
            <input type='text' [formControl]="armyNo" id='armyno' name='armyno' title='Password' />
            <span id='valida' class='i i-close'></span>
          </p>
          <p class='field_seat'>
            <label for='seats'> Seats</label>
            <input class="seat_numbers" [formControl]="seats" type='number' id='seats' name='seats' title='Password' max = "5" min = "1"  value = "1" />
           
          </p>
        
  
            <input type='submit' (click)="saveUserDetails()" id='do_login' value='Book Seats' title='Get Started' />
        </div>
      </div>
    </div>
   
  