
<div class="container">
    <div class="example-flex-container">
        <button mat-fab color="warn" (click)="openDialog('Add', {}, -1  )" aria-label="Example icon button with a heart icon">
          <mat-icon>add</mat-icon>
        </button>
    </div>

</div>


<div class="container">
    <mat-card class="example-card" *ngFor="let show of shows; let i = index">
        <mat-card-title  align="center">Show {{i+1}}</mat-card-title>
        <mat-card-content>
                <table>
                  <tr>
                    <td><span class="show__heading"> Movie Name</span></td>
                    <td><span>: </span></td>
                    <td><span>  {{show.movieDetails.movieName}} </span></td>
                  </tr>
                  <tr>
                    <td><span class="show__heading"> Booking Available</span> </td>
                    <td><span>: </span></td>
                    <td><span><mat-checkbox color="primary" [disabled]="true" [checked]="show.bookingAvailable"></mat-checkbox> </span></td>
                  </tr>
                  <tr>
                    <td><span class="show__heading"> Available Seat</span> </td>
                    <td><span>: </span></td>
                    <td> <span> {{ show.availableSeats.length}} </span></td>
                  </tr>
                  <tr>
                    <td><span class="show__heading"> Show Date</span> </td>
                    <td><span>: </span></td>
                    <td><span> {{ show.showDate}} </span></td>
                  </tr>
                  <tr>
                    <td><span class="show__heading"> Show Time</span></td>
                    <td><span>: </span></td>
                    <td><span> {{ show.showTime}} </span></td>
                  </tr>

                </table>
        </mat-card-content>
        <mat-card-actions align="start">
            <button mat-raised-button color="warn" (click)="deleteShow(show)">Delete</button>
            <button mat-raised-button color="accent" (click) = "fetchBookingDetails(show)"> Booking Details</button>
            <button mat-raised-button color="primary" (click)="openDialog('Edit', show, i)">Edit</button>
        </mat-card-actions>
      </mat-card>
      
</div>

<div class="guest-details">
  <app-show-guest-list></app-show-guest-list>

</div>

