.mat-toolbar {
    display: flex;
    justify-content: center;
    align-items: center
}

@import url(https://fonts.googleapis.com/css?family=Luckiest+Guy);
body{
  background: #8360c3;  
background: -webkit-linear-gradient(to right, #2ebf91, #8360c3);  
background: linear-gradient(to right, #2ebf91, #8360c3);

}
.container{
 display: contents;
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
  margin-top: 10rem;
  
}
.text-container{
  font-family: "Luckiest Guy"; 
  font-size:5rem;
  display: flex;
  justify-content: center;
  margin-bottom: 3rem;
  margin-top: 3rem;

}
.letter{
 color: #FDF5E6; 
 cursor: pointer;
 text-shadow: 2px 2px 4px #000000;
 /*animation: scaleletter 2s infinite ;*/
}
.letter:hover{
  transform: translate(0px,-20px);
}
@keyframes scaleletter{
  0%{
    transform : scale(1);
  }
  100%{
    transform : scale(1.4);
  }
}

.example-card {
    max-width: 400px;
    text-align: center;
  }
  
.example-header-image {
background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
background-size: cover;
}

mat-card-header {
    text-align: center;
    display: flex;
    justify-content: center;
}

.movie_card {
margin: 10px;
text-align: center;
font-family: arial;
position: relative;
}

.footer {
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #FDF5E6;
    color: black;
    text-align: center;
    margin-top: 10rem;
    padding-top: 1px;
}
