<mat-card class="example-card">
    <mat-card-title align="center"> {{ data.mode }} Show Details</mat-card-title>
    <mat-card-content>
        <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Show Name</mat-label>
            <input matInput >
        </mat-form-field>

        <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Movie Name</mat-label>
            <input matInput >
        </mat-form-field>
          
        
        <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Show Time</mat-label>
            <input matInput >
        </mat-form-field>
          
        <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Covid Protocals</mat-label>
            <input matInput >
        </mat-form-field>


    </mat-card-content>
    <mat-divider inset></mat-divider>
    <mat-card-actions align="end">
        <button mat-raised-button color="accent">Cancel</button>
        <button mat-raised-button color="primary">Save</button>
    </mat-card-actions>

  </mat-card>
